<html>
  <head>
    <title>Drone Live Streaming</title>
  </head>
  <body>
    <h1>Drone Live Streaming</h1>
    <div id="GPS">
        <p>Data Not Loaded Yet</p>
    </div>
    <div id="IMU">
        <p>Data Not Loaded Yet</p>
    </div>
    <div id="TIME">
        <p>Data Not Loaded Yet</p>
    </div>
    <h3><img src="{{ url_for('video_feed') }}" width="50%"></h3>
    <hr>
  </body>
  <script src="../static/jquery-1.10.2.js"></script>
  <script>
    function timingLoad() { // start of timingLoad
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT+"/_info", function(data) {
            $("#GPS").text("Lat: "+data.lat+",  Lon: "+data.lon+",  Alt: "+data.alt)
            $("#IMU").text("Angle: "+data.angle)
            $("#TIME").text("Time: "+data.time)
        });
    } // end of timingLoad
    $(document).ready(function() { // wait for doc to be ready
        setInterval(timingLoad, 1000);
    }); // end of wait for doc to be ready
</script>
</html>
